@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography';

.homepage {
    &__h1 {
        text-align: center;
        color: $gg-coral;
        @include mobile-page-header;

        @include tablet {
            @include tablet-page-header;
        }
    }
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
    padding: 1rem;
}