@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography';


* {
    box-sizing: border-box;
    font-family: "Titillium Web";
}

.order-details {
    display: inline-block;


    &__h1 {
        @include mobile-page-header;

        @include tablet {
            @include tablet-page-header;
        }
    }


    // &__title {
    //     @include mobile-subheader;

    //     @include tablet {
    //         @include tablet-subheader;
    //     }
    // }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        &--img {
            margin-right: 20px;
            width: 10rem;
            height: 10rem;
            flex-shrink: 0;
        }

        &--heading {
            @include mobile-subheader;

            @include tablet {
                @include tablet-subheader;
            }
        }

        &__details {
            display: flex;


            &__name {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &__quantity,
            &__price {
                margin-top: 5px;
            }
        }

    }
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}