@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography';

.order {
    display: flex;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    padding-left: 8rem;
    padding-right: 8rem;
    flex-direction: row;
    align-items: left;
    max-width: 100%;

    &-details__wrapper {
        width: 90%;
    }

    &-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        &__item {
            display: flex;
            justify-content: space-between;
            border: 0.0625rem solid $mercury;
            padding: 2rem;

        }

        &__item--img {
            width: 12.5rem;
            height: 12.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__item--quantity {
            font-size: 1.25rem;
        }

        &__item--price {
            font-size: 1.25rem;
        }
    }

    &__h1 {
        @include mobile-page-header;

        @include tablet {
            @include tablet-page-header;
        }
    }


}

.order-details__form {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 4rem;

    &--h {
        font-size: 1rem;
        margin-bottom: 0.5rem;

    }

    label {
        margin-bottom: 0rem;
        @include mobile-label;

        @include tablet {
            @include tablet-label;
        }
    }

    input,
    button {
        padding: 0.5rem;
        /* Add padding to input fields and button for spacing */
        border-radius: 4px;
        /* Optional: Add border radius for a cleaner look */
        border: 1px solid #ccc;
        /* Optional: Add border for better visibility */
    }

    button {
        margin-top: 2rem;
    }
}

.submit {
    margin-top: 1rem;
    all: unset;
    background-color: $gg-coral;
    color: $white;
    width: 100%;
    height: 2.25rem;
    @include mobile-subheader;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    border: solid $gg-coral;

    @include tablet {
        width: 12.5rem;
        padding: 0 1rem;
        height: 2.375rem;
        font-weight: bold;
    }


    &:hover {
        background-color: $gg-hover;
    }
}