$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


$gg-coral: #FF5757;
$gg-black: #323232;
$gg-hover: #FF2424;
$gray: #D5D5D5;

$silver: #AFAFAF;
$white: #FFFFFF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$yellow: #F5C276;
$gg-blue: #8BB7FE;

$gg-darkblue: #0065AD;