$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$yellow: #F5C276;
$gg-blue: #8BB7FE;
$gg-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$gg-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;