.card {
    background-color: #ffffff;

    margin: 12px;

    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    // Optional: Add box shadow for depth effect

    img {
        max-width: 100%; // Ensure image fits within the card
        border-radius: 32px; // Rounded corners for the top of the image
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #e0e0e0;
        border-radius: 8px; // Set border radius

    }


}