@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

* {
    box-sizing: border-box;
    font-family: 'Titillium Web';
}

.product-listing {
    padding: 3.125rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    &__h1 {
        color: $gg-coral;
        margin-bottom: 1.25rem;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}